This repository is an example Bundles 2.0 repo which shows how to accomplish the main mechanics of development in XPR:

<ul>
    <li>Item A</li>
    <li>Item B</li>
    <li>Item C</li>
    <li>Item D</li>
</ul>

