<html>
<head>
    <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/css/pure-min.css">
    <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bundles 2.0 Demo</title>
</head>
<body>
<h1>Bundles 2.0 Demo</h1>

</body>
</html>


